<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <h3>This is html</h3>
</body>
</html>


<!-- WHAT IS EJS? 
Embedded JavaScript
    A simple templating language/engine that lets its user generate HTML with plain javascript. EJS is mostly useful whenever you have to output HTML with a lot of javascript.

EJS for both server and client sides

EJS (along with all the other competing template engines) allows you to generate full-blown HTML pages which certainly enables a "proper front-end". EJS is a tool for generating web pages that can include dynamic data and can share templated pieces with other web pages (such as common headers/footers)

 -->